<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://unpkg.com/phosphor-icons"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/publish/list/style.css">
</head>

<body id="themes">
  <header>
    <div class="container">
      <h2>Publications</h2>
      <div class="menu-box">

        <div class="menu-container">
          <div class="line-one"></div>
          <div class="line-two"></div>
          <div class="line-three"></div>
        </div>

        <nav>

          <ul>
            <a href="/posts/<%= USER.id %>">
              <button class="post">post</button>
            </a>

            <div class="border">
              <button id="btn-themes">
                <div class="sun"></div>
                <div class="moon"></div>
              </button>
            </div>
          </ul>

        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="main-container">
      <ul>
        <% publication.forEach(p=> { %>
          <% if(p.userId==USER.id) { %>
            <li>
              <div class="profile">
                <div class="image">
                  <img src="/svg/user/user-line-light.svg" alt="" class="user-light">
                  <img src="/svg/user/user-line-dark.svg" alt="" class="user-dark">
                </div>
                <h2>
                  <%= p.userName %>
                </h2>
                <!-- <span><strong>Data: <%= p.publishAt %></strong></span> -->
              </div>
              <h3>
                <%= p.title %>
              </h3>
              <div class="campText">
                <p>
                  <%= p.comment %>
                </p>
              </div>
              <div class="options">
                <div class="options-container">
                  <a href="/publication/edit/<%= USER.id %>/publish/<%= p.id %>" title="edit" >
                    <button type="button" id="btn-edit">
                      <i class="ph-pencil" style="color: green;"></i>
                    </button>
                  </a>
                  <a href="/publication/delete/<%= USER.id %>/publish/<%= p.id %>" title="delete" >
                    <button type="button" id="btn-delete">
                      <i class="ph-trash" style="color: red;"></i>
                    </button>
                  </a>
                </div>

            </li>
            <% } else { %>
              <li>
                <div class="profile">
                  <div class="image">
                    <img src="/svg/user/user-line-light.svg" alt="" class="user-light">
                    <img src="/svg/user/user-line-dark.svg" alt="" class="user-dark">
                  </div>
                  <h2>
                    <%= p.userName %>
                  </h2>
                  <!-- <span><strong>Data: <%= p.publishAt %></strong></span> -->
                </div>
                <h3>
                  <%= p.title %>
                </h3>
                <div class="campText">
                  <p>
                    <%= p.comment %>
                  </p>
              </li>

              <% } %>
                <% }) %>
      </ul>
    </div>
  </main>
  <script src="/js/menu/main.js"></script>
  <script src="/js/themes/main.js"></script>
</body>

</html>
