<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/post/edit/style.css">
</head>

<body>
  <header>

  </header>
  <div class="container">
    <form action="/posts/edit/<%= USER.id %>/post/<%= POST.id %>" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="<%= POST.title %>" maxlength="10" required>
      <label for="comment">Comment</label>
      <textarea name="comment" id="comment" maxlength="100" required>
        <%= POST.comment %>
      </textarea>
      <button type="submit">edit</button>
    </form>
  </div>
  <% if(message_success.length> 0) { %>
    <div class="message_success">
      <h2>
        <%= message_success %>
      </h2>
    </div>
    <% } %>
      <% if(message_error.length>0) { %>
        <div class="message_error">
          <h2>
            <%= message_error %>
          </h2>
        </div>
        <% } %>
</body>

</html>
